.eventos {
    display: flex;
    border: 1px solid red;
    margin-bottom: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.eventos img {
    width: 100px;
}

.card-img-top{
    margin-left: 40%;
}

.img {
    width: 100px;
}

.divImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divInfos {
    margin-left: 25px;
    padding-right: 15px;
}