.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputCode {
    width: 50%;
}

.buttonCode {
    width: 150px;
    height: 50px;
}

.msgGif {
    display: flex;
    flex-direction: column;
}